/* Homepage CSS */
body {
    background-color: rgb(245, 202, 195);
    /* background-color: #fff0f5; */
    font-family: 'Quicksand', sans-serif;
}

.imgAndTitleAlign {
    display: flex;
}

.headshot {
    border-radius: 50%;
    margin: .5rem .5rem 1rem .5rem;
    padding: .5rem;
    max-width: 15rem;
    max-height: 15rem;
    /* border: rgb(132, 165, 157) solid .25rem; */
}

.titleAndSubtitle {
    display: flex;
    flex-direction: column;
}


.navBar {
    background-color: rgb(242, 132, 130);
    /* background-color: rgb(236, 201, 213); */
    display: flex;
    font-size: 1.5rem;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1.5rem 2rem 2rem 2rem;
    margin: 0rem -1rem 0rem -1rem;
    text-transform: uppercase;
    /* color: lavenderblush; */
    color: rgb(132, 165, 157);
}

h1 {
    display: flex;
    justify-content: center;
    margin-left: 1.5rem;
    margin-bottom: 0;
    padding: 2rem 2rem 1rem 2rem;
    font-size: 5rem;
    color: rgb(132, 165, 157);
}

.subtitle {
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 2.5rem;
    margin-left: 1rem;
}

a:link, a:visited {
    color: rgb(246, 189, 96);
    /* color: black; */
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    color: rgb(246, 189, 96);
    /* color: black; */
    font-weight: bold;
    font-size: larger;
}

.bannerPic {
    display: flex;
    justify-content: center;
    /* margin-left: -2rem;
    margin-right: -20rem; */
    /* max-height: 40rem; */
    flex-grow: 10;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100%;
    z-index: 0;
}

.backgroundSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.allIcons {
    display: flex;
    justify-content: center;
}

/* p {
    max-width: 75%;
    text-align: space-evenly;
    margin-left: 1.5rem;
} */

/* .h3 {
    margin: 1.5rem;
} */

.recipeNameDiv {
    display: flex;
    flex-direction: row;
}

.topOfRecipeForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.topLeftOfRecipeForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.topRightOfRecipeForm {
    width: 50%;
    display: flex;
    justify-content: center;
}

.veganIconPic, .vegetarianIconPic, .whole30IconPic, .fiveHundIconPic {
    width: 100%;
    border: white solid 2px;
}

.miniVeganIconPic, .miniVegetarianIconPic, .miniWhole30IconPic, .miniFiveHundIconPic {
    width: 3rem;
    border: white solid 2px;
    margin: .25rem;
}

.veganIcon, .vegetarianIcon, .whole30Icon, .fiveHundCalIcon {
    width: 23%;
    margin: 1rem;
}

.radioCSS {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconRadio {
    margin-left: 1.5rem;
    margin-bottom: .5rem;
}

.background {
    text-align: center;
    
    /* background-color: lavenderblush; */
    padding: 1.5rem 2rem 2rem 2rem;
    margin: 0rem -1rem 0rem -1rem;
    color: black;
    font-size: 1.5rem;
}

input {
    border: none;
}

.recipeForm {
    text-align: center;
    background-color: rgb(245, 202, 195);
    /* background-color: lavenderblush; */
    padding: 1.5rem 4rem 2rem 4rem;
    margin: 0rem -1rem 0rem -1rem;
    color: black;
    font-size: 1.5rem;
}

.recipeFormTitle {
    background-color: rgb(245, 202, 195);
    /* background-color: lavenderblush; */
}
.backgroundTitle {
    /* color: rgb(211, 166, 182); */
    /* color: rgb(247, 237, 226); */
    /* color: white; */
    /* color: rgb(246, 189, 96); */
    color:rgb(242, 132, 130);
    display: flex;
    justify-content: center;
    background-color: rgb(245, 202, 195);
    /* background-color: lavenderblush; */
    padding: 2rem 2rem 0rem 2rem;
    margin: .5rem -1rem 0rem -1rem;
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    color: rgb(242, 132, 130);
    /* color: rgb(211, 166, 182); */
    display: flex;
    justify-content: center;
    /* background-color:  rgb(247, 237, 226); */
    background-color: white;
    padding: 2rem 2rem 0rem 2rem;
    margin: 0rem -1rem 0rem -1rem;
    font-weight: bold;
    font-size: 2rem;
}

figure {
    margin: 0;
}
.iconDefinitions {
    background-color: white;
    padding: 2rem 4rem;
    margin-left: -2rem;
    margin-right: -2rem;
}

.recipeNameDiv {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.recipeIngredients__quantity {
    text-align: center;
}

.recipeName {
    display: flex;
    justify-content: right;
    margin-bottom: .5rem;
}

.recipeNameInput {
    min-height: 2.5rem;
    width: 95%;
    /* min-width: 25rem; */
    background-color: white;
    border: rgb(247, 237, 226) solid 1px;
    border-radius: 10px;
    margin-right: 1rem;
    color: gray;
    font-size: 20px;
}

.recipeTypeDiv {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.mealSelectTitle {
    display: flex;
    justify-content: right;
    margin-bottom: .5rem;
}

.mealSelect {
    /* border: none; */
    margin-top: .0rem;
    margin-right: 1rem;
    min-height: 2.70rem;
    /* min-width: 25.5rem; */
    width: 97%;
    background-color: white;
    border: rgb(247, 237, 226) solid 1px;
    border-radius: 10px;
    color: gray;
    font-size: 20px;
}

.recipeIngredientsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 1.5rem; */
}

.recipeIngredients__ingredient {
    /* color:rgb(242, 132, 130); */
    margin-bottom: 1.25rem;
    margin-top: 1.5rem;
    color: lightgrey;
    font-size: 20px;
}

.recipeIngredients__brand {
    /* color:rgb(242, 132, 130); */
    margin-bottom: 1.25rem;
    margin-top: 1.5rem;
    color: lightgrey;
    font-size: 20px;
}

.ingredientInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipeIngredients__quantity {
    /* margin-top: .0rem; */
    margin: 0rem .25rem 0rem .25rem;
    max-height: 2.70rem;
    width: 10%;
    /* min-width: 25.5rem; */
    background-color: white;
    border: rgb(247, 237, 226) solid 1px;
    border-radius: 10px;
    color: grey;
}

.recipeIngredients__unit {
    margin: 0rem .25rem 0rem .25rem;
    max-height: 2.70rem;
    width: 10%;
    /* min-width: 25.5rem; */
    background-color: white;
    border: rgb(247, 237, 226) solid 1px;
    border-radius: 10px;
    color: grey;
}

.recipeIngredients__ingredient {
    min-height: 2.5rem;
    width: 33%;
    /* min-width: 25rem; */
    background-color: white;
    border: rgb(247, 237, 226) solid 1px;
    border-radius: 10px;
    margin: 0rem .25rem 0rem .25rem;
    color: grey;
}

.recipeIngredients__brand {
    min-height: 2.5rem;
    width: 33%;
    /* min-width: 25rem; */
    background-color: white;
    border: rgb(247, 237, 226) solid 1px;
    border-radius: 10px;
    margin: 0rem .25rem 0rem .25rem;
    color: grey;
}

.iconSelect {
    background-color: white;
    width: 100%;
    /* min-width: 22.5rem; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 5rem .25rem 1rem .25rem;
}

.addAnotherIngredientButton {
    color:rgb(132, 165, 157);
    border:rgb(247, 237, 226) solid 1px;
    min-width: 25%;
    min-height: 3rem;
    border-radius: 10px;
    background-color: lavenderblush;
    font-size: 20px;
    /* font-weight: bold; */
    margin-top: 1rem;
}

.instructionsTextarea {
    width: 95%;
    min-height: 20rem;
    margin: 2rem 0rem 2rem 0rem;
    border: rgb(247, 237, 226) solid 1px;
    font-family: 'Quicksand', sans-serif;
    color: grey;
    border-radius: 10px;
}

.selectRecipeButton {
    color:rgb(132, 165, 157);
    border:rgb(247, 237, 226) solid 1px;
    min-width: 25%;
    min-height: 3rem;
    border-radius: 10px;
    background-color: lavenderblush;
    font-size: 20px;
    /* font-weight: bold; */
}

button:hover {
    color:rgb(132, 165, 157);
    /* color: black; */
    font-weight: bold;
    /* font-size: larger; */
}

footer {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

/* Recipe Pages */

.homeNav {
    display: flex;
    justify-content: center;
    /* float: right; */
    position: fixed;
    top: 11.5rem;
    left: 0rem;
    padding: 1rem;
    text-transform: uppercase;
    background-color: white;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 20px;
    font-weight: bold;
    color: rgb(132, 165, 157);
}

.breakfastHead {
    background-image: url("images/1.2.png");
    background-color: black;
    height: 17rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -4rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.lunchHead {
    background-image: url("images/2.2.png");
    background-color: black;
    height: 17rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -4rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.snackHead {
    background-image: url("images/3.2.png");
    background-color: black;
    height: 17rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -4rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.dinnerHead {
    background-image: url("images/4.2.png");
    background-color: black;
    height: 17rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -4rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.dessertHead {
    background-image: url("images/5.2.png");
    background-color: black;
    height: 17rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -4rem;
    margin-left: -1rem;
    margin-right: -1rem;
}
